:root {
    --dark-purple: hsla(262, 22%, 21%, 1);
    --purple: hsla(262, 52%, 47%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --shade-050: hsla(240, 8%, 97%, 1);
    --shade-100: hsla(240, 10%, 94%, 1);
    --shade-200: hsla(240, 5%, 89%, 1);
    --shade-300: hsla(240, 8%, 85%, 1);
    --shade-400: hsla(240, 7%, 79%, 1);
    --shade-500: hsla(240, 5%, 74%, 1);
    --shade-600: hsla(240, 5%, 64%, 1);
    --shade-700: hsla(240, 3%, 55%, 1);
    --shade-800: hsla(240, 4%, 47%, 1);
    --shade-900: hsla(231, 3%, 41%, 1);
}